@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

body {
    background-image: url(../images/55049.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50%;
    margin-top: 5%;
}

img {
    height: 250px;
    width: 1150px;
    margin: 0 25% 2% 25%;
}

.lane {
    background-color: #000;
    border-bottom: solid 10px blue;
    border-top: solid 10px blue;
}

h1 {
    color: #FFF;
    font-size: 60px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 50px;
}

/*
--------------------
PACMAN ILLUSTRATION 
--------------------
*/

.pacman {
    margin: 40px 10px;
}

.pacman-top {
    background-color: yellow;
    height: 100px;
    width: 200px;
    border-radius: 100px 100px 0 0; 
    animation: spin1 0.5s infinite linear;
    margin-left: 70px;
}

.pacman-bottom {
    background-color: yellow;
    height: 100px;
    width: 200px;
    border-radius: 0 0 100px 100px;
    animation: spin2 0.5s infinite linear;
    margin-left: 70px;
}

/*
----------------
PACMAN ANIMATION
----------------
*/

@keyframes spin1 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-35deg);}
}

@keyframes spin2 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
}

@-moz-keyframes spin1 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-35deg);}
}

@-moz-keyframes spin2 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
}

@-webkit-keyframes spin1 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-35deg);}
}

@-webkit-keyframes spin2 {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(35deg);}
}

/*
------------
COOKIES ILLUSTRATION
------------
*/

.dot {
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 15%;
    overflow: hidden;
    right: 900px;
    animation: dot 5s infinite linear;
  }

.dot {
    position: absolute;
    top: 44%;
    transform: translateY(-50%);
}

/*
--------------
COOKIES ANIMATION
--------------
*/

.dot:nth-child(2) {
-webkit-animation-delay: 1s;
animation-delay: 1s;
}
.dot:nth-child(3) {
-webkit-animation-delay: 2s;
animation-delay: 2s;
}
.dot:nth-child(4) {
-webkit-animation-delay: 3s;
animation-delay: 3s;
}
.dot:nth-child(5) {
-webkit-animation-delay: 4s;
animation-delay: 4s;
}
.dot:nth-child(6) {
-webkit-animation-delay: 5s;
animation-delay: 5s;
}
.dot:nth-child(7) {
-webkit-animation-delay: 6s;
animation-delay: 6s;
}
.dot:nth-child(8) {
-webkit-animation-delay: 7s;
animation-delay: 7s;
}
.dot:nth-child(9) {
-webkit-animation-delay: 8s;
animation-delay: 8s;
}

@-webkit-keyframes dot {
    0% {
        right: 0;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        right: 100%;
        opacity: 0;
    }
}

@keyframes dot {
    0% {
        right: 0;
    }
    90% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        right: 100%;
        opacity: 0;
    }
}

@keyframes feet {
    0% {
      box-shadow: 4px 0 orange, 8px 0 orange, 12px 0 orange, 4px 4px orange, 8px 4px orange, 20px 0 orange, 24px 0 orange, 28px 0 orange, 32px 0 orange, 24px 4px orange, 28px 4px orange, 40px 0 orange, 44px 0 orange, 48px 0 orange, 52px 0 orange, 44px 4px orange, 48px 4px orange;
    }
    50% {
      box-shadow: 0 4px orange, 4px 0 orange, 12px 0 orange, 16px 0 orange, 20px 0 orange, 16px 4px orange, 20px 4px orange, 32px 0 orange, 36px 0 orange, 40px 0 orange, 32px 4px orange, 36px 4px orange, 48px 0 orange, 52px 0 orange, 52px 4px orange;
    }
    100% {
      box-shadow: 4px 0 orange, 8px 0 orange, 12px 0 orange, 4px 4px orange, 8px 4px orange, 20px 0 orange, 24px 0 orange, 28px 0 orange, 32px 0 orange, 24px 4px orange, 28px 4px orange, 40px 0 orange, 44px 0 orange, 48px 0 orange, 52px 0 orange, 44px 4px orange, 48px 4px orange;
    }
}
 
